:root {
  font-family: win95, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "win95";
  src: url(./assets/w95.woff);
}

.logo {
  display: block;
  margin: 20px;
  width: 100px;
  height: 100px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: block;
  place-items: center;
  color: rgba(255, 255, 255, 0.87);
  overflow: hidden;
}

#header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
  font-size: 3.75vh;
  line-height: 1;
  color: #fd8750;
}

#time {
  position: absolute;
  top: 3.75vh;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
  font-size: 7.5vh;
  line-height: 1;
}

#footer {
  position: absolute;
  top: 11.25vh;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
  font-size: 3.75vh;
  line-height: 1;
  color: #3273ff ;
}

#timeline {
  width: 100%;
  max-width: 500px;
  height: 85%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 15%;
  margin: 0;
  padding: 0;
  text-align: center;
}

#present {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 5%;
}

#presentdate {
  position: absolute;
  left: calc(50% + 20px);
  top: calc(5% - 12px);
}

#line {
  width: 5px;
  height: 90%;
  position: absolute;
  top: calc(5% + 7px);
}

#past {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 95%;
}

#pastdate{
  position: absolute;
  left: calc(50% + 9px);
  top: calc(95% - 12px);
}

.dot {
  border-radius: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 1;
}

@keyframes moveStripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100%;
  }
}

.wobbly {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: repeating-linear-gradient(
    45deg,
    #ffffffcc,
    #ffffffcc 10px,
    #9c9c9ccc 10px,
    #747474cc 20px
  );
  background-size: 100% 30px;
  box-shadow: 0 0 6px 2px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  animation: moveStripes 1500s linear infinite;
  will-change: background-position;
}

#options {
  width: 400px;
  height: calc(90% - 7.5px);
  position: fixed;
  left: -400px;
  top: calc(5% + 7.5px);
  background-color: palegoldenrod;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
